/* Styles for timeline item component */
.timeline-item-wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.timeline-item-wrapper.even {
  flex-direction: row-reverse;
}

.timeline-item-wrapper.even .timeline-item-content {
  text-align: right;
}

.timeline-item-wrapper.odd {
  flex-direction: row;
}

@media (max-width: 767px) {
  .timeline-item-wrapper {
    flex-direction: column;
  }
}
